<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" style="border: 1px solid black;">
    <h1>Login</h1>
    Nhap tai khoan<input type="text" name="taikhoan" placeholder="Tai Khoan" />
    Nhap mat khau<input type="text" name="matkhau" placeholder="Mat Khau" />
    <input type="submit" value="Login">
    <input type="reset" value="Reset">

    </form>
</body>
</html>